<div class="container d-flex">
    <div>
        <div class="mb-5 mt-5">
            <div>
                <h2><strong>Bài viết của tác giả: {{authorName}}</strong></h2>
            </div>
            <div>
                <div class="container1" style="text-align: center;" 
                *ngFor="let item of newPostsData| paginate: { itemsPerPage: 5, currentPage: p }">
                    <div class="product-details">
                        <h2>{{item.tieuDe}}</h2>

                        <div class="control">
                            <button class="btn1">
                                <span class="price">Khóa</span>
                                <span class="shopping-cart"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                <span class="buy">Xem bài viết</span>
                            </button>
                        </div>
                    </div>
                    <div class="product-image">
                        <img src={{item.anh}} alt="">
                        <div class="info">
                            <h2> Chi tiết</h2>
                            <ul>
                                <li>
                                    <a routerLink="/authorpost" (click)="authorPost(item.nguoiDang)">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <strong>&ensp;Người đăng:</strong>
                                        {{item.nguoiDang}}
                                    </a>
                                </li>

                                <li><i class="fa fa-calendar" aria-hidden="true"></i>
                                    <strong>&ensp;Ngày đăng: </strong>{{item.ngayDang}}
                                </li>
                                <li><i class="fa fa-eye" aria-hidden="true"></i>
                                    <strong>&ensp;Lượt xem:</strong> {{item.luotXem}}
                                </li>
                                <li><i class="fa fa-tags" aria-hidden="true"></i>
                                    <strong>&ensp;Chuyên mục: </strong>
                                    <a href="{{i.tenChuyenMuc}}" *ngFor="let i of item.chuyenMuc">   
                                        {{i.tenChuyenMuc}}
                                        <br>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <pagination-controls previousLabel="Trước" nextLabel="Sau" (pageChange)="p = $event">
                    </pagination-controls>
                </div>

            </div>
        </div>

    </div>
    <div class="mb-5 mt-5 ml-5">
        <div>
            <div>
                <h2><strong>Bài viết phổ biến nhất</strong></h2>
            </div>
            <div class="container1" style="width: 300px; height: 150px;" *ngFor="let item of eyesPosts">

                <div class="product-image" style="width: 100%;text-align: center;">
                    <div class="product-details" style="padding: 0px;width:60%;display: inline-block;">
                        <h2>{{item.tieuDe}}</h2>
                    </div>
                    <div class="info2">
                        <ul>
                            <li>
                                <a routerLink="/authorpost" (click)="authorPost(item.nguoiDang)">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <strong>&ensp;Người đăng:</strong>
                                    {{item.nguoiDang}}
                                </a>
                            </li>

                            <li><i class="fa fa-eye" aria-hidden="true"></i>
                                <strong>&ensp;Lượt xem:</strong> {{item.luotXem}}
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div>
                <h2><strong>Chuyên đề</strong></h2>
            </div>
            <div class="card mb-3 container1" style="width: 300px; height: 150px;">
                <div class="">
                    <div class="col">
                        <div class="card-body">
                            <p class="card-text2" *ngFor="let item of randomCategory">
                                <a href="#">{{item}}</a>
                                <br />
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>